@use "./../styles/tokens";

.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: tokens.$space-large;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: tokens.$color-panel;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: tokens.$shadow;
}

.card__photo {
  position: relative;
  cursor: pointer;
}

.card__image {
  border-radius: 24px;
  overflow: hidden;
}

.card__discount {
  color: tokens.$color-white;
  font-size: 0.75rem;
  font-weight: 700;
}

.card__favorite {
  font-size: 24px;
}

.card__content {
  padding: tokens.$space-small;
}

.card__top {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  cursor: pointer;
}

.card__description {
  font-family: tokens.$font-secondary;
}

.card__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 80px;
  margin-left: tokens.$space-tiny;
}

.card__middle {
  display: flex;
  justify-content: space-between;
  padding-bottom: tokens.$space-tiny;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
}

.card__cta {
  color: tokens.$color-brand;
  font-weight: 700;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card__add {
  margin: 0 tokens.$space-tiny;
  font-size: 11px;
}
