@use "./../styles/tokens";

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 0 tokens.$space-medium;
}

.toolbar__list {
  display: flex;
}

.toolbar__item {
  list-style: none;
  margin-left: tokens.$space-small;
}

.middlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 tokens.$space-medium;
}

.middlebar__item {
  margin-right: tokens.$space-medium;
}

.middlebar__left {
  display: flex;
}

.middlebar__icon {
  width: 20px;
  margin-right: tokens.$space-medium;
}

.middlebar__right {
  display: flex;
}

.middlebar__button {
  display: flex;
  align-items: center;
}

.nav {
  padding: 0 tokens.$space-medium;
}

.nav__list {
  display: flex;
}

.nav__item {
  list-style: none;
  margin-right: tokens.$space-small;
}
