@use "./../styles/tokens";

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: tokens.$color-white;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  color: tokens.$color-primary-text;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: tokens.$space-tiny tokens.$space-large;
}

.toolbar__list {
  display: flex;
}

.toolbar__item {
  list-style: none;
  margin-left: tokens.$space-small;
}

.middlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: tokens.$space-tiny tokens.$space-large;
  border-top: tokens.$border;
  border-bottom: tokens.$border;
  box-shadow: tokens.$shadow;
}

.middlebar__brand {
  margin-right: tokens.$space-medium;
  color: tokens.$color-brand;
}

.middlebar__item {
  margin-right: tokens.$space-medium;
}

.middlebar__left {
  display: flex;
  align-items: center;
}

.middlebar__icon {
  width: 20px;
  margin-right: tokens.$space-medium;
}

.middlebar__symbol {
  width: 20px;
  margin-right: tokens.$space-tiny;
}

.middlebar__right {
  display: flex;
  align-items: center;
}

.middlebar__button {
  display: flex;
  align-items: center;
  background-color: tokens.$color-brand;
  color: tokens.$color-white;
  padding: tokens.$space-tiny tokens.$space-small;
  border-radius: 12px;
  border-style: none;
}

.nav {
  padding: tokens.$space-tiny tokens.$space-large;
}

.nav__list {
  display: flex;
}

.nav__item {
  list-style: none;
  margin-right: tokens.$space-small;
}
