$color-brand: #7820fa;
$color-accent: #fc3c3e;
$color-white: rgb(252, 255, 255);
$color-panel: #feffff;
$color-background: #e6e3e9;
$color-background-white: #f6f6f2;
$color-primary-text: #3d3010;
$color-gray-text: #cccccc;
$color-black: #2d303f;
$color-overlay: rgba(0, 0, 0, 0.15);
$space-xtiny: 4px;
$space-tiny: 8px;
$space-small: 16px;
$space-medium: 32px;
$space-large: 64px;
$shadow: 0 2px 2px 2px rgba(155, 155, 155, 0.05);
$border: 1px solid rgba(99, 99, 99, 0.05);
$font-secondary: Noto Sans JP;
