$color-brand: #7820fa;
$color-white: rgb(252, 255, 255);
$color-background: #e6e3e9;
$color-primary-text: #3d3010;
$space-xtiny: 4px;
$space-tiny: 8px;
$space-small: 16px;
$space-medium: 32px;
$space-large: 64px;
